.actions {
    align-self: center;
    padding: 1rem;
}

.selection {
    background-color: #333;
    color: #fff;
    width: 10rem;
    text-align: center;
}


.container {
    display: flex;
    justify-content: center;
    align-items: center;

    p {
        color: #fff;
    }
}
 
