.navItem {
    color: #fff;
    padding: 1rem 2rem;
    border: 1px solid #fff;
    margin-right: 1rem;
    text-transform: capitalize;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;

    &:hover {
        background-color: #222;
        text-decoration: underline;
    }
}

.active {
    background-color: #222;
    text-decoration: underline;
}

.unactive {
    
}


@media screen and (max-width: 980px) {
    .navItem {
        margin-right: 0;
    }
}