.container {
    display: flex;
    flex-wrap: wrap;
}

@media screen and (max-width: 980px) {
    .container {
        display: grid;
        grid-template:  auto / 1fr 1fr;
        gap: 10px;
        margin-top: 10px;
    }
}

