.container {
    flex: 1;
    margin: 3rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.pageTitle {
    color: #fff;
    margin-top: 4rem;
    text-align: center;
    text-transform: capitalize;
}

.itemContainer {
    margin-bottom: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: start;
}

@media screen and (max-width: 768px) {
    .container {
        margin: 1rem;
    }
}